<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
        default-lazy-init="true">
     
     <!-- 配置KMPO Action -->
     <bean id="UserAction" class="com.tencent.kopm.action.UserAction">
     	<property name="rankListService" ref="RankListService"></property>
     	<property name="userService" ref="UserService"></property>
     </bean>
     
     <bean id="RankListAction" class="com.tencent.kopm.action.RankListAction">
        <property name="rankListService" ref="RankListService"></property>
        <property name="userService" ref="UserService"></property>
     </bean>
     
     <!-- 配置KMPO Service -->
     <bean id="UserService" class="com.tencent.kopm.service.impl.UserServiceImpl">
        <property name="userDao" ref="UserDAO"></property>
        <property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
     <bean id="RankListService" class="com.tencent.kopm.service.impl.RankListServiceImpl">
        <property name="userDao" ref="UserDAO"></property>
        <property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
     <!-- 配置KMPO DAO -->
     <bean id="UserDAO" class="com.tencent.kopm.dao.impl.UserDAOImpl">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
     
</beans>